<ul class="sidebar navbar-nav ">
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#"
           id="pagesDropdown" role="button">
            <i class="fas fa-fw fa-folder"></i>
            <span>Numeração</span>
        </a>
        <div aria-labelledby="pagesDropdown" class="dropdown-menu"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);"
             x-placement="bottom-start">
            <a class="dropdown-item" href="{{url_for('numeracao.numeracaoC')}}">Nova Numeração</a>
            <a class="dropdown-item" href="{{url_for('index')}}">Lista de numeração</a>

            <!--                <h6 class="dropdown-header">Login Screens:</h6>-->
            <!--                <a class="dropdown-item" href="login.html">Login</a>-->
            <!--                <a class="dropdown-item" href="register.html">Register</a>-->
            <!--                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>-->
            <div class="dropdown-divider"></div>
            <!--                <h6 class="dropdown-header">Other Pages:</h6>-->
            <!--                <a class="dropdown-item" href="404.html">404 Page</a>-->
            <!--                <a class="dropdown-item" href="blank.html">Blank Page</a>-->
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#"
           id="users" role="button">
            <i class="fas fa-fw fa-folder"></i>
            <span>Usuários</span>
        </a>
        <div aria-labelledby="pagesDropdown" class="dropdown-menu"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);"
             x-placement="bottom-start">
            <a class="dropdown-item" href="{{url_for('users.userC')}}">Novo Usuário</a>
            <a class="dropdown-item" href="{{url_for('users.userList')}}">Lista de Usuários</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>
<!--    <li class="nav-item dropdown">-->
<!--        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"-->
<!--           href="#"-->
<!--           id="bdt" role="button">-->
<!--            <i class="fas fa-fw fa-folder"></i>-->
<!--            <span>BDT</span>-->
<!--        </a>-->
<!--        <div aria-labelledby="pagesDropdown" class="dropdown-menu"-->
<!--             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);"-->
<!--             x-placement="bottom-start">-->

<!--            <a class="dropdown-item" href="{{url_for('bdt.bdtSearch')}}">bdtSearch</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--        </div>-->
<!--    </li>-->
</ul>